<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<body>
<div class="login-dark">
    <form th:action="@{/register}" th:object="${student}" method="POST">
        <h2 class="sr-only">Register Form</h2>
        <h3 class="text-white text-center"> REGISTER FORM</h3>
        <div class="illustration"><i class="fas fa-lock"></i></div>
        <!-- Place for messages: error, alert etc ... -->
        <div class="form-group">
            <div class="col-xs-15">
                <div>
                    <!-- Check for registration error -->
                    <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                        <span th:text="${registrationError}"></span>
                    </div>

                </div>
            </div>
        </div>
        <!-- USERNAME -->
        <div class="form-group">
            <input type="text" name="username" class="form-control" th:field="*{username}" placeholder="username (*)">
            <div th:if="${#fields.hasErrors('username')}"
                  class="text-danger">
                <p th:each="err : ${#fields.errors('username')}" th:text="'User name ' + ${err}"></p>
            </div>
        </div>
        <!-- EMAIL -->
        <div class="form-group">
            <input type="email" name="email" class="form-control" th:field="*{email}" placeholder="email (*)"
                   th:errorclass="fieldError">
            <div th:if="${#fields.hasErrors('email')}"
                 class="text-danger">
                <p th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}"></p>
            </div>
        </div>
        <!-- PASSWORD -->
        <div class="form-group">
            <input type="password" name="password" class="form-control" th:field="*{password}" placeholder="password (*)"
                   th:errorclass="fieldError">
            <div th:if="${#fields.hasErrors('password')}"
                 class="text-danger">
                <p th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}"></p>
            </div>
        </div>
        <!-- Colleges -->
        <div class="form-group">
            <select class="form-control" name="university" th:field="*{university}">
                <optgroup th:each="city : ${cities}" th:label="${city.name}">
                    <option th:each="university : ${universities}" th:if="${university.getUniversityCity.name == city.name}" th:value="${university.id}" th:text="${university.fullName}"></option>
                </optgroup>
            </select>
            <div th:if="${#fields.hasErrors('university')}"
                 class="text-danger">
                <p th:each="err : ${#fields.errors('university')}" th:text="'University ' + ${err}"></p>
            </div>
        </div>
        <!-- Study Field -->
        <div class="form-group">
            <select class="form-control" name="studyField" th:field="*{studyField}">
                <optgroup label="Choose Study field">
                <option th:each="study : ${studyFields}" th:value="${study.id}" th:text="${study.name}"></option>
                </optgroup>
            </select>
            <div th:if="${#fields.hasErrors('studyField')}"
                 class="text-danger">
                <p th:each="err : ${#fields.errors('studyField')}" th:text="'Study Field ' + ${err}"></p>
            </div>
        </div>
        <!-- Gender-->
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" th:field="*{gender}" name="gender" id="male" value="Male">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" th:field="*{gender}" name="gender" id="female" value="Female">
                <label class="form-check-label" for="female">Female</label>
            </div>
            <div th:if="${#fields.hasErrors('gender')}"
                 class="text-danger">
                <p th:each="err : ${#fields.errors('gender')}" th:text="'Gender Field ' + ${err}"></p>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Register</button>
        </div>
        <a th:href="@{/login}" class="forgot">Already have account?</a>
    </form>
</div>
<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>