<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<div class="container-fluid">

    <div id="profileJumbo" class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <img th:src="${student.profilePic}" class="rounded-circle mr-lg-5" alt="">
            <div class="student-information d-lg-inline-flex text-main-light">
                <p class="mr-lg-5">@
                    <span th:text="${student.username}" class="text-white font-weight-bold">student username</span>
                </p>
                <p class="mr-lg-5">
                    <i class="fas fa-university fa-lg"></i>
                    <span class="text-white font-weight-bold" th:text="${student.university.fullName}">student university name</span>
                </p>
                <p class="mr-lg-5">
                    <i class="fas fa-graduation-cap fa-lg"></i>
                    <span class="text-white font-weight-bold" th:text="${student.studyField.name}">student studyfield</span>
                </p>
            </div>
        </div>
    </div>
    <div class="profile-nav d-lg-flex justify-content-center">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Activity</a>
            </li>
            <li th:if="${student.id == #authentication.principal.id}" class="nav-item" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
            </li>
        </ul>
    </div>
</div> <!-- end of container-fluid -->
<div class="container">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            Izlistaj sve aktivnosti iz study field i obicni news
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            Ako je ovo od usera profil onda mu prikazi ovo i ovde ce moci da edituje profil ili da kreira novi post
        </div>
    </div>

</div> <!-- end of container -->

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>