<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<div class="container-fluid">

    <div id="profileJumbo" class="jumbotron jumbotron-fluid bg-light-black">
        <div class="container text-center">
            <!-- send request -->
            <div class="add-friend" th:if="${student.id != #authentication.principal.id && student.id != actionStudent}">
                <form th:action="@{/friend/add}" method="POST" th:object="${friendObj}">
                    <div class="form-group">
                        <button th:unless="${friendshipStatus}" type="submit" class="btn btn-success" name="recipient" th:value="${student.id}">Add friend</button>
                        <button th:if="${friendshipStatus == T(com.nakaradasava.learntogether.entity.Status).PENDING}" type="button" class="btn btn-dark" disabled>
                            <span th:text="${friendshipStatus}">status</span>
                        </button>
                    </div>
                </form>
            </div>
            <!-- response on request -->
            <div class="response-friend" th:if="${student.id == actionStudent &&
            friendshipStatus != T(com.nakaradasava.learntogether.entity.Status).ACCEPT}">
                <form th:action="@{/friend/response}" method="POST" th:object="${friendObj}">
                    <div class="row">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{studentLower}">
                        <input type="hidden" th:field="*{studentHigher}">
                        <input type="hidden" th:field="*{actionUser}">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-success" name="response" value="YES">Accept</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-success" name="response" value="NO">Decline</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- delete friend -->
            <div class="unfriend" th:if="${friendshipStatus == T(com.nakaradasava.learntogether.entity.Status)
            .ACCEPT}">

                <form th:action="@{'/friend/delete/' + ${student.id}}" th:method="delete">
                    <button onclick="if (! (confirm('Are you sure you?'))) return false" type="submit" class="btn btn-danger">Delete friend</button>
                </form>

            </div>
            <img th:src="${student.profilePic}" class="rounded-circle mr-lg-5" height="100px" width="100px" alt="">
            <div class="student-information d-lg-inline-flex text-main-light">
                <p class="mr-lg-5">@
                    <span th:text="${student.username}" class="text-white font-weight-bold">student username</span>
                </p>
                <p class="mr-lg-5">
                    <i class="fas fa-university fa-lg"></i>
                    <span class="text-white font-weight-bold" th:text="${student.university.fullName}">student university name</span>
                </p>
                <p class="mr-lg-5">
                    <i class="fas fa-graduation-cap fa-lg"></i>
                    <span class="text-white font-weight-bold" th:text="${student.studyField.name}">student studyfield</span>
                </p>
            </div>
            <p class="text-white font-italic" th:utext="${#strings.replace(student.description,'&#10;','&lt;br&gt;')}">student description</p>
        </div>
    </div>
    <div th:if="${friendshipStatus == T(com.nakaradasava.learntogether.entity.Status)
            .ACCEPT || student.id == #authentication.principal.id}" class="profile-nav d-lg-flex justify-content-center">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Questions</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">News feed</a>
            </li>
            <li th:if="${student.id == #authentication.principal.id}" class="nav-item" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
            </li>
        </ul>
    </div>
    <div th:if="${friendshipStatus != T(com.nakaradasava.learntogether.entity.Status)
            .ACCEPT && student.id != #authentication.principal.id}">
        <h4 class="text-center text-danger">You must become friend before view user posts</h4>
    </div>
</div> <!-- end of container-fluid -->
<div class="container">
    <!-- username exist check for update -->
    <div th:if="${usernameErr}" th:text="${usernameErr}" class="alert alert-danger col-xs-offset-1 col-xs-10">
        <span>Student username exist msg</span>
    </div>

    <div th:if="${descriptionErr}" th:text="${descriptionErr}" class="alert alert-danger col-xs-offset-1 col-xs-10">
        <span>descriptionErr</span>
    </div>
    <!-- end err msg -->
    <!-- successfull msg -->
    <div th:if="${updatedMsg}" th:text="${updatedMsg}" class="alert alert-success col-xs-offset-1 col-xs-10">
        <span>Student update msg</span>
    </div>
    <!-- kraj -->
    <div th:if="${friendshipStatus == T(com.nakaradasava.learntogether.entity.Status)
            .ACCEPT || student.id == #authentication.principal.id}" class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div th:if="${questions}" class="student-questions">
                <h3 class="text-center text-main-light">
                    <span th:text="${student.username}">Student username</span>
                    <span> Questions</span>
                </h3>
                <div th:each="question : ${questions}" class="question-holder mb-5">
                    <div class="card border-dark rounded">
                        <div class="card-header bg-black border-bottom border-success rounded d-flex justify-content-between">
                            <a th:text="${question.title}" th:href="@{'/questions/' + ${question.id}}">title and link</a>
                            <p>
                            <a class="text-white" th:href="@{/study-fields(studyField=${question.studyField.id})}">
                                asked in/<span th:text="${question.studyField.name}" class="text-main-light">study field name</span>
                            </a>
                            </p>
                        </div>
                        <div class="card-body bg-light-black">
                            <p th:text="${#strings.abbreviate(question.description, 30)}">question content</p>
                        </div>
                    </div>
                </div>
            </div> <!-- student-questions end -->
        </div>
        <!-- news feed student -->
        <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
            <div th:if="${student.posts}" class="news-holder">
                <div class="single-media holder">
                    <div th:each="studentPost : ${student.posts}" class="media border-bottom pb-3 mb-3">
                        <img th:src="${student.profilePic}" width="75px" height="75px" class="rounded-circle align-self-start mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 text-main-light">
                                <a th:href="@{'/profile/' + ${student.id}}">
                                    @<span class="font-weight-bold" th:text="${student.username}">Student username</span>
                                </a>
                                <span> / <small class="text-white" th:text="${student.studyField.name}">studyField</small></span>
                                <small th:if="${studentPost.edited}" th:text="edited" class="font-italic text-warning btn">edited</small>
                            </h5>
                            <p th:text="${studentPost.description}">Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end news fedd student -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row mt-2">
                <div class="col-lg-12">
                    <h4 class="text-center text-main-light">Edit profile</h4>
                    <!-- ediituj profil -->
                    <div class="row">
                        <div class="col-lg-3">
                            <img th:src="${student.profilePic}" class="rounded-circle" height="75px" width="75px">
                        </div>
                        <div class="col-lg-9">
                            <form th:action="@{'/profile/' + ${student.id}}" th:object="${student}" method="POST"
                            enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input id="username" class="form-control" th:field="*{username}" type="text">
                                </div>

                                <div class="form-group">
                                    <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="3"
                                              placeholder="add description"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Change profile image</label>
                                    <input type="file" name="profileImage" accept="image/png, image/jpeg" class="form-control-file" id="exampleFormControlFile1">
                                </div>

                                <!-- Colleges -->
                                <div class="form-group">
                                    <select class="form-control" name="university" th:field="*{university}">
                                        <optgroup th:each="city : ${cities}" th:label="${city.name}">
                                            <option th:each="university : ${universities}" th:if="${university.getUniversityCity.name == city.name}" th:value="${university.id}" th:text="${university.fullName}"></option>
                                        </optgroup>
                                    </select>
                                </div>

                                <!-- Study Field -->
                                <div class="form-group">
                                    <select class="form-control" name="studyField" th:field="*{studyField}">
                                        <optgroup label="Choose Study field">
                                            <option th:each="study : ${studyFields}" th:value="${study.id}" th:text="${study.name}"></option>
                                        </optgroup>
                                    </select>

                                <div class="form-group">
                                    <button type="submit" class="mt-2 form-control bg-success">Update profile</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- zatvori edit -->
                </div> <!-- end col-lg-12-->
            </div>
        </div>
    </div>

</div> <!-- end of container -->

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>