/* Main Colors */
.text-main {
    color: #078f37;
}
.bg-main {
    background-color: #078f37;
}
.text-main-light {
    color: #1ED760 ;
}
.bg-main-light {
    background-color: #1ED760;
}
body {
    background-color: #18191A;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #1ED760;
}
a:hover {
    color: #078f37;
}
::selection {
    color: #1ED760;
    background: #1e2833;
}

.bg-facebook {
    background-color: #242526;
}

/** REGISTER AND LOGIN **/
.login-dark {
    height:1000px;
    background-image:
            linear-gradient(0deg, #00000088 30%, #ffffff44 100%),
            url('/images/logreg-background.jpg');
    background-size:cover;
    position:relative;
}

.login-dark form {
    max-width:500px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

select option, optgroup {
    background-color:#1e2833;
    color: #ffffff;
}

.login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#078f37;
    transition: color 1s;
}

.login-dark .illustration:hover {
    color:#1ED760;
    outline:none;
}

form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
}

form .btn-primary {
    background-color: #078f37;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
    transition: background 1s;
}

form .btn-primary:hover, form .btn-primary:active {
    background:#1ED760;
    outline:none;
}

form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
}

form .forgot:hover, form .forgot:active {
    opacity:1;
    text-decoration:none;
}

form .btn-primary:active {
    transform:translateY(1px);
}

input:focus {
    background-color: #1e2833 !important;
    color: #1ED760 !important;
}
/* NAVBAR */
.navbar-bg-color, .dropdown-menu {
    background-color: #242526; /* fb color */
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-brand:hover{
    color: #078f37 !important;
}
.dropdown-item:hover {
    color: #078f37 !important;
    background-color: #000 !important;
}
.brand-letter {
    color: #078f37;
}
.navbar-brand:hover .brand-letter {
    color: #ffffff;
}
/* NEWS FEED */
#profile-card, #friends-posts-card .card {
    background-color: #18191A;
}
.fas {
    color: #1ED760;
    transition: 0.7s;
}
.fas:hover {
    color: #078f37;
}
textarea {
    resize: none;
    background-color: #1e2833 !important;
    color: #1ED760 !important;
}
textarea::selection, input::selection, select, option {
    background-color: black !important;
    color: #1ED760 !important;
}
/** study field **/
.jumbotron {
    background-color: #1e2833;
}
#questions .card-header .fa {
    transition: .3s transform ease-in-out;
}
#questions .card-header .collapsed .fa {
    transform: rotate(90deg);
}
#questions .card {
    background-color: #242526;
}
#questions .card-body, #questions .card-footer {
    color: #1ED760;
}