<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<!--content-->
<div class="container mt-2">
    <div class="holder border border-light rounded p-4">
            <div class="headline d-flex justify-content-between">
                <div class="author align-left">
                    <p>
                        <a class="text-white font-italic mr-1"
                           th:href="@{/study-fields/(studyField=${question.studyField.id})}">
                            study field/ <span class="text-main-light font-weight-bold" th:text="${question.studyField.name}">study field</span>
                        </a>
                        <span class="text-main-light">author:
                        <b th:text="${question.student.username}" class="text-white">Author</b>
                    </span>
                    </p>
                </div> <!-- .author end -->
                    <form th:action="@{'/questions/delete/' + ${question.id}}" th:method="delete">
                        <input type="hidden" th:value="${question.studyField.id}" name="studyFieldId">
                        <button onclick="if (! (confirm('Are you sure you?'))) return false" type="submit" name="id" class="btn">
                            <i class="fas fa-trash fa-lg text-danger"></i>
                        </button>
                    </form>
            </div>
        <form th:action="@{'/questions/' + ${question.studyField.id}}" th:object="${question}" method="POST">
            <div class="form-group">
                <input type="hidden" th:field="*{id}">
                <input type="text" class="form-control" name="title" th:field="*{title}">
            </div>
            <div class="form-group">
                    <textarea class="form-control" th:field="*{description}" name="description" id="exampleFormControlTextarea1" rows="3"
                             ></textarea>
            </div>
            <div class="buttons">

                <div class="float-left">
                    <button class="btn btn-success">
                        <a class="text-white" th:href="@{/study-fields}">View all study fields</a>
                    </button>
                </div>

                <div class="float-right">
                    <button class="btn btn-success">Send</button>
                </div>
            </div>
        </form>
            <div class="question-footer mb-5">
                <a class="ml-2 mr-2" href=""><i th:text="${question.likes.size()}" class="fas fa-graduation-cap fa-lg">10</i></a>
                <a class="ml-2" href=""><i th:text="${question.comments.size()}" class="fas fa-comment-dots fa-lg">10</i></a>
            </div>
    </div>
        </div> <!-- end of container -->
        <!--include footer-->
        <div th:insert="/fragments/footer :: footer"></div>
</body>
</html>