<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<!--content-->
<div class="container mt-2">
    <div class="holder border border-light rounded p-4">
        <div class="question-holder">
            <div class="headline d-flex justify-content-between">
                <div class="author align-left">
                <p>
                    <a class="text-white font-italic mr-1"
                       th:href="@{/study-fields/(studyField=${question.studyField.id})}">
                        study field/ <span class="text-main-light font-weight-bold" th:text="${question.studyField.name}">study field</span>
                    </a>
                    <span class="text-main-light">author:
                       <a th:href="@{'/profile/' + ${question.student.id}}">
                           <b th:text="${question.student.username}" class="text-white">Author</b></a>
                    </span>
                </p>
                </div> <!-- .author end -->
                <div th:if="${#authentication.principal.id == question.student.id}" class="icons align-right">
                    <a class="mr-2 btn" th:href="@{'/questions/edit/' + ${question.id}}">
                        <i class="fas fa-pen fa-lg"></i>
                    </a>
                    <form th:action="@{'/questions/delete/' + ${question.id}}" th:method="delete">
                        <input type="hidden" th:value="${question.studyField.id}" name="studyFieldId">
                        <button onclick="if (! (confirm('Are you sure you?'))) return false" type="submit" name="id" class="btn">
                            <i class="fas fa-trash fa-lg text-danger"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="heading-question d-flex">
                <h3 th:text="${question.title}" class="text-white m-4 font-weight-bold"> Question Title</h3>
                <small th:if="${question.edited}" th:text="edited" class="font-italic text-warning btn">edited</small>
            </div>

            <p th:text="${question.description}" class="text-white m-4">Description</p>
            <div class="question-footer mb-5 d-flex">
                <form th:action="@{/like}" method="POST" class="likeForm" th:object="${like}">
                    <input type="hidden" th:value="${question.id}" name="questionId">
                    <button type="submit" class="btn ml-2">
                        <i th:text="${question.likes.size()}" class="fas fa-graduation-cap fa-lg">10</i>
                    </button>
                </form>
                <a class="btn" href=""><i th:text="${question.comments.size()}" class="fas fa-comment-dots fa-lg">10</i></a>
            </div>

            <p class="text-white">Comment as
                <b sec:authentication="principal.username" class="text-main-light">Logged user</b>
            </p>
            <form th:action="@{'/questions/comments/' + ${question.id}}" th:object="${commentObj}" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="comment" th:field="*{content}" id="exampleFormControlTextarea1" rows="3"
                              placeholder="write comment ..."></textarea>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
                <div class="clearfix"></div>
            </form>

            <div th:if="${deleteSuccess}" th:text="${deleteSuccess}" class="alert alert-success col-xs-offset-1 col-xs-10">
                <span>delete comment success</span>
            </div>

        </div>
        <div th:if="${success}" th:text="${success}" class="alert alert-success col-xs-offset-1 col-xs-10">
            <span>Confirm Comment msg</span>
        </div>
        <hr class="bg-main-light">

        <div th:if="${question.comments}" class="comments">
            <div th:each="comment : ${question.comments}" class="media pb-4 mt-3 border-bottom border-secondary">
                <img th:src="${comment.student.profilePic}" class="mr-3 rounded-circle" style="width: 75px" height="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">
                        <div class="body-headline d-flex justify-content-between">
                            <div class="user-headline align-left">
                                <a th:href="@{'/profile/' + ${comment.student.id}}">
                                <span th:text="${comment.student.username}" class="text-main-light font-weight-bold">author</span>
                                </a>
                                <span class="text-white font-italic"> /<small th:text="${comment.student.studyField.name}">student study field</small></span>
                                <small th:if="${comment.edited}" th:text="edited" class="font-italic text-warning">edited</small>

                            </div>
                            <div th:if="${#authentication.principal.id == comment.student.id}" class="icons align-right">

                                <a class="mr-2 btn" th:href="@{'/questions/comments/edit/' + ${comment.id}}">
                                    <i class="fas fa-pen"></i>
                                </a>

                                <form th:action="@{'/questions/comments/delete/' + ${comment.id}}" th:method="delete">
                                    <input type="hidden" th:value="${question.id}" name="questionId">
                                    <button onclick="if (! (confirm('Are you sure you?'))) return false" type="submit" class="btn">
                                        <i class="fas fa-trash text-danger"></i>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </h5>
                    <p th:text="${comment.content}">comment text</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end of container -->
<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>