<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<!--content-->
<div class="container">
    <div class="jumbotron mt-2">
        <h1 class="display-4 mt-4 text-white">
            <span th:text="${studyField.name}" class="text-main-light">study name</span>
        </h1>
        <p class="lead text-white">
           Ask question in this study field or try to help other student with they problems bellow.
        </p>
        <div th:if="${success}" th:text="${success}" class="alert alert-info col-xs-offset-1 col-xs-10">
            <span>Confirm Question msg</span>
        </div>
        <hr class="my-4">
        <div class="share-something">
            <form th:action="@{/study-fields/save(studyField=${studyField.id})}" th:object="${question}" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="title for your question" class="form-control" name="title" th:field="*{title}">
                </div>
                <div class="form-group">
                    <textarea class="form-control" th:field="*{description}" name="description" id="exampleFormControlTextarea1" rows="3"
                              placeholder="type your questio...."></textarea>
                </div>
                <div class="buttons">

                    <div class="float-left">
                        <button class="btn btn-warning">
                            <a class="text-dark" th:href="@{/study-fields}">View all study fields</a>
                        </button>
                    </div>

                    <div class="float-right">
                        <button class="btn btn-success">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- list questions -->
    <div id="questions" th:if="${questions}">
        <div th:each="question : ${questions}" class="card mb-4">
            <h5 class="card-header">
                <a data-toggle="collapse" th:href="'#question-id-' + ${question.id}" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block">
                    <i class="fa fa-chevron-down pull-right"></i>
                    <span th:text="${question.title}">Naslov pitanja</span>
                </a>
            </h5>
            <div th:id="'question-id-' + ${question.id}" class="collapse show" aria-labelledby="heading-example">
                <div class="card-body">
                   <span th:text="${question.description}">Description</span>
                </div>
                <div class="card-footer ">
                    <p class="float-left"> Created by <b th:text="${question.student.username}">author</b>
                        <a class="ml-2 mr-2" href=""><i class="fas fa-graduation-cap fa-lg">10</i></a>
                        <a class="ml-2" href=""><i class="fas fa-comment-dots fa-lg">10</i></a>
                    </p>
                        <button class="btn btn-success float-right">
                            <a class="text-white" th:href="@{'/question/' + ${question.id}}">View topic</a>
                        </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div> <!-- question end -->

</div> <!-- end of container -->

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>