<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<div class="container-fluid">
    <div id="profileJumbo" class="jumbotron jumbotron-fluid bg-light-black border-bottom border-success">
        <div class="container text-center">
            <h3 class="text-white font-weight-bold">
                CREATE YOUR <span class="text-main-light"> (OWN) </span> quiz:
            </h3>
            <p class="font-italic text-white">
                Studying is lot a easier with other students, create your own quiz and challenge all students to
                achieve highest score and prepare them for exam!
            </p>
        </div>
    </div>
</div> <!-- end of container-fluid -->

<div th:if="${created}">
    <div class="alert alert-success text-center">
        <span th:text="${created}">quiz created</span>
    </div>
</div>

<div th:if="${fieldErr}">
    <div class="alert alert-danger text-center">
        <span th:text="${fieldErr}">field empty  err</span>
    </div>
</div>

<div th:if="${deleted}">
    <div class="alert bg-dark-blue text-center">
        <span class="text-danger" th:text="${deleted}">quiz/question deleted</span>
    </div>
</div>

<div class="container align-content-center">
    <h3 class="text-white text-center">CREATE NEW QUIZ</h3>
    <form th:action="@{/create-quiz}" method="POST">
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="enter quiz name...">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg">Next</button>
        </div>
    </form>


    <h3 class="text-center text-main-light">All your quizzes:</h3>
    <div th:if="${quizzes}">
        <div class="row">
            <div th:each="quiz : ${quizzes}"  class="col-lg-6">
                <div class="card">
                    <div class="card-header bg-black">
                        <h5 class="text-main-light">
                            <a th:text="${quiz.quizName}" th:href="@{'/quiz/' + ${quiz.id} + '/question/'(questionId= 0)}">
                                quiz name
                            </a>
                        </h5>
                    </div>
                    <div class="card-body bg-light-black d-flex justify-content-between">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-success" data-toggle="modal" th:attr="data-target='#questionLabel' + ${quiz.id}">
                                Add question
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-info" data-toggle="modal" th:attr="data-target='#listQuestions' + ${quiz.id}">
                                List questions
                            </button>
                        </div>

                        <!-- MODAL LIST QUESTIONs -->
                        <div class="modal fade" th:id="'listQuestions' + ${quiz.id}" tabindex="-1" aria-labelledby="listQuestions" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-black">
                                        <h5 class="modal-title" id="listQuestions">All questions</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body bg-light-black">
                                        <div th:each="question : ${quiz.questions}" class="question-title d-flex justify-content-between">
                                        <p class="text-main-light" th:text="${question.title}">question title</p>
                                            <form th:action="@{'/quiz/question/delete/' + ${question.id}}" th:method="delete">
                                                <button onclick="if (! (confirm('Are you sure?'))) return false" type="submit" class="btn">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </button>
                                            </form>
                                    </div>
                                    </div>
                                    <div class="modal-footer bg-black">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- end modal -->

                        <!-- Modal-CREATING NEW QUESTION -->
                        <div class="modal fade" th:id="'questionLabel' + ${quiz.id}" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-light-black">
                                        <h5 class="modal-title" id="questionModalLabel">Add question</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body bg-black">
                                        <form th:action="@{/quiz/create/question}" method="POST">
                                            <div class="form-group">
                                                <input type="text" name="title" placeholder="question title..." class="form-control">
                                            </div>
                                            <input type="hidden" name="quizId" th:value="${quiz.id}">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="answer1">Answer 1:</label>
                                                    <input id="answer1" type="text" class="form-control" name="answer1" placeholder="answer?">
                                                </div>

                                                <div class="form-group">
                                                    <label for="answer2">Answer 2:</label>
                                                    <input id="answer2" type="text" class="form-control" name="answer2" placeholder="answer?">
                                                </div>

                                                <div class="form-group">
                                                    <label for="answer3">Answer 3:</label>
                                                    <input id="answer3" type="text" class="form-control" name="answer3" placeholder="answer?">
                                                </div>

                                                <div class="form-group">
                                                    <label for="answer4">Answer 4:</label>
                                                    <input id="answer4" type="text" class="form-control" name="answer4" placeholder="answer?">
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="correctAnswer">Select correct answer</label>
                                                <select name="correctAnswer" id="correctAnswer">
                                                    <option value="0">Answer 1</option>
                                                    <option value="1">Answer 2</option>
                                                    <option value="2">Answer 3</option>
                                                    <option value="3">Answer 4</option>
                                                </select>
                                            </div>
                                    <div class="modal-footer bg-light-black">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <div class="form-group">
                                            <button type="submit" class="form-control btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-black">
                        <form th:action="@{'/delete/quiz/' + ${quiz.id}}" th:method="delete">
                            <button onclick="if (! (confirm('Are you sure?'))) return false" type="submit" class="btn btn-danger">
                                DELETE QUIZ
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>