<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<div class="container">

  <h3 class="text-main-light text-center" th:text="${quiz.quizName}">quiz name</h3>

  <div class="card">
    <div class="card-header bg-black">
      <h5 class="text-info text-center" th:if="${quiz.questions.get(param.questionId)}" th:text="${quiz.questions.get(param.questionId).getTitle()}">question</h5>
    </div>
    <div class="card-body bg-light-black text-main-light">
        <form th:action="@{'/quiz/' + ${quiz.id} + '/question/'(questionId= ${param.questionId})}" method="POST">

        <div class="row">
        <div th:each="answer : ${quiz.questions.get(param.questionId).answers}" class="col-lg-6">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="answerId" th:id="'exampleRadios' + ${answer.id}" th:value="${answer.id}">
              <label th:text="${answer.text}" class="form-check-label" th:attr="for='exampleRadios' + ${answer.id}">
                Anaswer text
              </label>
            </div>
        </div>
      </div>
        <button type="submit" class="btn btn-success">Next</button>
      </form>
    </div>
  </div>
    <!-- quiz correct answer -->
    <div th:if="${correct}" class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast1"  role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
            <div class="toast-header bg-main text-white">
                <strong>Learn Together <b>Notification</b></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body bg-dark-blue text-white">
                <span th:text="${correct}">Correct answer</span>
            </div>
        </div>
    </div>

    <!-- delete universityPost created msg -->
    <div th:if="${wrong}" class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast2"  role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
            <div class="toast-header bg-danger text-white">
                <strong>Learn Together <b>Notification</b></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body bg-dark-blue text-white">
                <span th:text="${wrong}">Wrong answer</span>
            </div>
        </div>
    </div>


</div> <!-- container -->


  <!--include footer-->
  <div th:insert="/fragments/footer :: footer"></div>
</body>
</html>