<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<div class="container-fluid">
    <div id="profileJumbo" class="jumbotron jumbotron-fluid bg-light-black border-bottom border-success">
        <div class="container text-center">
            <h3 class="text-white font-weight-bold">
                PLAY<span class="text-main-light"> (QUIZ) </span>
            </h3>
            <p class="font-italic text-white">
                Studying is lot a easier with other students, create your own quiz and challenge all students to
                achieve highest score and prepare them for exam!
            </p>
        </div>
    </div>
</div> <!-- end of container-fluid -->

<div class="container">
    <h3 class="text-center text-main-light">All Quizzes:</h3>
    <div th:if="${quizzes}">
        <div class="row">
            <div th:each="quiz : ${quizzes}"  class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-black">
                        <h5 class="text-main-light">
                            <a th:text="${quiz.quizName}" href="#linkDoKvizaDaIgra">
                                quiz name
                            </a>
                        </h5>
                    </div>
                    <div class="card-body bg-light-black">
                      <p>
                          Question number:
                          <span th:text="${quiz.questions.size()}" class="text-main-light">10</span>
                      </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>