<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<!--content-->
<div class="container-fluid">
        <div class="row mt-5">
                <div class="col-lg-3 border border-secondary rounded">
                        <div id="profile-card" class="card">
                                <img th:if="${#authentication.principal.profilePic}"
                                     th:src="@{${#authentication.principal.profilePic}}"
                                     class="card-img-top rounded" alt="..." style="height: 18rem; width: 90%;">
                                <div class="icons mt-2"></div>
                                <p>
                                        <i class="fas fa-university fa-lg"></i>
                                        <span sec:authentication="principal.university.name"></span>
                                </p>
                                <p>
                                        <i class="fas fa-graduation-cap fa-lg"></i>
                                        <span sec:authentication="principal.studyField.name"></span>
                                </p>
                        </div>
                                <div class="card-body border-top border-success" style="width: 18rem;">
                                        <blockquote class="blockquote mb-0">
                                                <p th:text="${quote.content}">Quote text</p>
                                                <footer th:text="${quote.author}" class="blockquote-footer">Quote author</footer>
                                        </blockquote>
                                </div>
                                <div class="card-body border-top border-success" style="width: 18rem;">
                                       <div class="row">
                                               <div class="col-3">
                                                       <img th:src="@{/images/profile_pictures/female.png}"
                                                       width="35" height="35" class="rounded-circle">
                                               </div>
                                               <div class="col-3">
                                                       <img th:src="@{/images/profile_pictures/male.png}"
                                                       width="35" height="35" class="rounded-circle">
                                               </div>
                                               <div class="col-3">
                                                       <img th:src="@{/images/profile_pictures/male.png}"
                                                       width="35" height="35" class="rounded-circle">
                                               </div>
                                               <div class="col-3">
                                                       <img th:src="@{/images/profile_pictures/female.png}"
                                                       width="35" height="35" class="rounded-circle">
                                               </div>
                                       </div>
                                </div>
                        </div>
                <div class="col-lg-8">
                        <div class="share-something">
                                <form action="">
                                        <div class="form-group">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                          placeholder="share something with your friends..."></textarea>
                                        </div>
                                        <div class="float-right">
                                                <button class="btn btn-success">Send</button>
                                        </div>
                                </form>
                        </div>
                                <div class="clear-fix mb-5 pb-5"></div>
                        <div id="friends-posts-card">
                                <!-- other friend post static -->
                                <div class="friends-posts mb-5">
                                        <div class="card mb-3 border-top border-bottom border-secondary rounded" style="max-width: 700px;">
                                                <div class="row no-gutters">
                                                        <div class="col-md-4">
                                                                <img th:src="@{/images/profile_pictures/female.png}" alt="...">
                                                        </div>
                                                        <div class="col-md-8">
                                                                <div class="card-body">
                                                                        <h5 class="card-title">Card title</h5>
                                                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <!-- other friend post static -->
                                <div class="friends-posts mb-5">
                                        <div class="card mb-3 border-top border-bottom border-secondary rounded" style="max-width: 700px;">
                                                <div class="row no-gutters">
                                                        <div class="col-md-4">
                                                                <img th:src="@{/images/profile_pictures/female.png}" alt="...">
                                                        </div>
                                                        <div class="col-md-8">
                                                                <div class="card-body">
                                                                        <h5 class="card-title">Card title</h5>
                                                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div><!-- col-lg-8 end -->
                </div> <!-- row end-->
        </div> <!-- end of container -->


<!--<form th:action="@{/logout}" method="POST">-->
<!--        <button class="btn btn-info" name="logout" type="submit">Logout</button>-->
<!--</form>-->

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>