<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<!--content-->
<p>Username: <b sec:authentication="principal.username"></b></p>
<p>Email: <b sec:authentication="principal.email"></b></p>
<p>College: <b sec:authentication="principal.college.name"></b></p>
<hr>
<br>
<img th:src="@{${profilePic}}" />


<!--<p>SAD SA CONTROLLEROM</p>-->
<!--<h1>Username: <span th:text="${student.name}"></span></h1>-->
<form th:action="@{/logout}" method="POST">
        <button class="btn btn-info" name="logout" type="submit">Logout</button>
</form>

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>