<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<body>
<div class="login-dark">
    <form th:action="@{/login}" method="POST">
        <h2 class="sr-only">Login Form</h2>
        <h3 class="text-white text-center"> LOGIN FORM</h3>
        <div class="illustration"><i class="fas fa-lock"></i></div>
        <!-- Place for messages: error, alert etc ... -->
        <div class="form-group">
            <div class="col-xs-15">
                <div>
                    <!-- Check for login error -->
                    <div th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                        <span th:text>Error msg</span>
                    </div>

                    <div th:if="${param.logout}" class="alert alert-success col-xs-offset-1 col-xs-10">
                        <span>You have been logged out</span>
                    </div>

                    <div th:if="${confirmTokenMsg}" th:text="${confirmTokenMsg}" class="alert alert-info col-xs-offset-1 col-xs-10">
                        <span>Confirm Token msg</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- USERNAME -->
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="username (*)">
        </div>
        <!-- PASSWORD -->
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="password (*)">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </div>
        <a th:href="@{/register}" class="forgot">Create a new account?</a>
    </form>
</div>
<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>