<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<!--content-->
<div class="container mt-2">
    <div class="holder border border-light rounded p-4">
        <div class="question-holder">
            <div class="author">
                <p>
                    <a class="text-white font-italic mr-1"
                       th:href="@{/study-fields/(studyField=${question.studyField.id})}">
                        study field/ <span class="text-main-light font-weight-bold" th:text="${question.studyField.name}">study field</span>
                    </a>
                    <span class="text-main-light">author:
                        <b th:text="${question.student.username}" class="text-white">Author</b>
                    </span>
                </p>
            </div>
            <h3 th:text="${question.title}" class="text-white m-4 font-weight-bold"> Question Title </h3>
            <p th:text="${question.description}" class="text-white m-4">Description</p>
            <div class="question-footer mb-5">
                <a class="ml-2 mr-2" href=""><i class="fas fa-graduation-cap fa-lg">10</i></a>
                <a class="ml-2" href=""><i class="fas fa-comment-dots fa-lg">10</i></a>
            </div>

            <p class="text-white">Comment as
                <b sec:authentication="principal.username" class="text-main-light">Logged user</b>
            </p>
            <form action="">
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              placeholder="write comment ..."></textarea>
                </div>
                <div class="float-right">
                    <button class="btn btn-success">Send</button>
                </div>
                <div class="clearfix"></div>
            </form>

        </div>
        <hr class="bg-main-light">

        <div class="comments">
            <div class="media">
                <img src="..." class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                    <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end of container -->
<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>