<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<div>

    <div id="loginbox" style="margin-top: 50px;"
         class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <div class="panel-title">Register New User</div>
            </div>

            <div style="padding-top: 30px" class="panel-body">

                <!-- Registration Form -->
                <form th:action="@{/register}"
                      th:object="${student}" method="POST"
                      class="form-horizontal">

                    <!-- Place for messages: error, alert etc ... -->
                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>

                                <!-- Check for registration error -->
                                <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    <span th:text="${registrationError}"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- User name -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{username}" placeholder="username (*)" class="form-control" />
                    </div>

                    <div th:if="${#fields.hasErrors('username')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('username')}" th:text="'User name ' + ${err}" />
                        </ul>
                    </div>


                    <!-- Password -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" th:field="*{password}" placeholder="password (*)" class="form-control" th:errorclass="fieldError" />
                    </div>
                    <div th:if="${#fields.hasErrors('password')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                        </ul>
                    </div>

                    <!-- Email -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{email}" placeholder="email (*)" class="form-control" th:errorclass="fieldError" />
                    </div>
                    <div th:if="${#fields.hasErrors('email')}"
                         style="margin-bottom: 25px" class="text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                        </ul>
                    </div>


                    <!-- Register Button -->
                    <div style="margin-top: 10px" class="form-group">
                        <div class="col-sm-6 controls">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
</body>
</html>