<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<!--include header-->
<div th:insert="/fragments/header :: header"></div>

<!--start body-->
<body>
<!--include navbar-->
<div th:insert="/fragments/navbar :: navbar"></div>

<!--content-->
<div class="container-fluid">
    <div class="cover-text">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 th:text="${university.fullName}" class="display-4 text-center">FullName Name</h1>
                <p th:if="${university.shortName != 'none'}" class="text-center font-weight-bold">
                    <span th:text="${university.shortName}">Short name</span> <span class="text-main-light">(<span class="text-white" th:text="${university.city.name}">city</span>)</span>
                </p>
                <p th:if="${university.url != 'none'}" class="text-center">
                    <a th:href="${university.url}" target="_blank">
                        <i class="fas fa-globe mr-1"> <span th:text="${university.url}">website url</span></i>
                    </a>
                </p>
            </div>
        </div>
    </div> <!-- end of cover text -->
</div> <!-- end of container-fluid -->

<div class="container">

    <!-- succes post created msg -->
    <div th:if="${postMsg}" class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast"  role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
            <div class="toast-header bg-main text-white">
                <strong>Learn Together <b>Notification</b></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body bg-dark-blue text-white">
                <span th:text="${postMsg}">post created</span>
            </div>
        </div>
    </div>

    <div id="university" class="holder">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">News Feed</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Students</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Create</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                      <div th:if="${university.posts}" class="news-holder">
                          <div class="single-media holder">
                          <div th:each="post : ${university.posts}" class="media border-bottom pb-3 mb-3">
                              <img th:src="${post.student.profilePic}" width="75px" height="75px" class="rounded-circle align-self-start mr-3" alt="...">
                              <div class="media-body">
                                  <h5 class="mt-0 text-main-light">
                                      @<span class="font-weight-bold" th:text="${post.student.username}">Student username</span>
                                      <span> / <small class="text-white" th:text="${post.student.studyField.name}">studyField</small></span>
                                  </h5>
                                  <p th:text="${post.description}">Description</p>
                              </div>
                              <div class="media-footer d-flex justify-content-between">
                                  <form th:action="@{/university/like}" method="POST" class="likeForm" th:object="${like}">
                                      <input type="hidden" th:value="${post.id}" name="postId">
                                      <button type="submit" class="btn ml-2">
                                          <i th:text="${post.likes.size()}" class="fas fa-graduation-cap fa-lg">10</i>
                                      </button>
                                  </form>
                                  <a class="btn" href="">
                                      <i class="fas fa-comment-dots fa-lg">10</i>
                                  </a>
                              </div>
                          </div>
                      </div>
                      </div>

                    </div>
                    <!-- izlistaj sve ucenike -->
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <p class="font-italic">Student Counter:
                            <span class="text-main-light" th:text="${university.students.size()}">10</span>
                        </p>
                      <div class="row">
                          <div th:each="student : ${university.students}" class="col-lg-4">
                            <div class="student-holder">
                                <div class="row d-flex">
                                    <div class="col-lg-4">
                                        <img class="rounded-circle" width="75px" height="75px" th:src="${student.profilePic}" alt="">
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-info">
                                            <span th:text="${student.username}">username</span>
                                            <span>(<span th:text="${student.studyField.name}" class="text-main-light">studyField</span>)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>

                    </div>
                    <!-- izlistaj sve ucenike kraj -->

                    <!-- create post modal -->
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                           Create a new post
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-black">
                                        <h5 class="modal-title" id="exampleModalLabel">Post something</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form th:action="@{'/post/' + ${university.id}}" th:object="${post}" method="POST">
                                    <div class="modal-body bg-dark-blue">
                                            <div class="form-group">
                                                <textarea th:field="*{description}" name="description" cols="3"
                                                          class="form-control" placeholder="write..."></textarea>
                                            </div>
                                    </div>
                                    <div class="modal-footer bg-black">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">POST</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end post modal -->
                </div>
            </div>
        </div>
    </div>

</div>

<!--include footer-->
<div th:insert="/fragments/footer :: footer"></div>
<script>
        $(document).ready(function() {
        $(".toast").toast('show');
    });
</script>
</body>
</html>